body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  font-family: "Cormorant Garamond";
}
canvas {
  display: block;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 20px 5%;
  position: relative;
  background-color: black;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

img{
  display: flex; 
  justify-content: space-evenly;
}

h1 {
text-align: center;
color: #ffffff;
font-size: 60px;
}

p{
color: white;
font-size: 20px;
margin-right: 400px;
border-style: hidden;
text-align: center;
}

#syep{
  font-weight: bold;
}

.nav-links a{
  color: white;
  text-decoration: none;
  background-color: black;
}

.nav-links a:hover{
  text-decoration: underline;
}

.hamburger{
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger span{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

hr{
  margin-top: 10px; 
  border: 0.5px solid white;
  background-color: black;
}

@media(max-width: 768px){
  .hamburger{
    display: flex;
  }

  .nav-links{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    border-bottom: 20px solid white;
    text-align: center;
    gap: 20px;
    z-index: 10;
  }

  .nav-links.active{
    display: flex;
  }
}