html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}
canvas {
  display: block;
}
nav{
border-style: outset;
border-color: #ffffff;
text-align: center;
padding-top: 45px;
display: flex;
justify-content: space-around;
font-size: 23px;
}

a:link{
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 5px;
}

img{
  display: flex; 
  justify-content: space-evenly;
}

h1 {
text-align: center;
color: #ffffff;
font-size: 60px;
}

p{
color: white;
font-size: 30px;
margin-right: 400px;
border-style: hidden;
text-align: center;
}


