body{
  color: white;
  background-color: black;
  font-size: 25px;
}

nav{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 80px;
  padding-bottom: 15px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: arial;
  gap: 70px;
}


#syep{
  margin-right: auto;
}

nav li:not(#syep){
  margin-right: 40px;

}

hr{
  margin-top: 10px; 
}


.img{
  display: flex; 
  justify-content: space-evenly;
  margin-top: 90px;
  width: auto;

}

.image{
  width: 43%;
  height: auto;

}

#img1{
  margin-right: 50px;
  border: 2px solid white;
  border-radius: 10px;
}

#img2{
  border: 2px solid white;
  border-radius: 10px;
}
